streamlit
python-dotenv

langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.75
langchain-text-splitters==0.3.9

langchain-openai==0.3.28
langchain-groq==0.3.7

duckduckgo-search==8.1.1

arxiv
wikipedia
beautifulsoup4
PyMuPDF
pypdf

chromadb
faiss-cpu
sentence-transformers

huggingface-hub

SQLAlchemy
mysql-connector-python

youtube-transcript-api
pytube

validators==0.28.1